.cotenedor {
    width: 50%; 
    float: left;
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem; 
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination button {
    text-decoration: none;
    color: #333;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination button:hover {
    background-color: #9dc7cc;
}